{% extends 'base.html' %}

{% block content %}
<div class="mb-4">
    <form method="get" action="{% url 'busca_animal' %}" >
        {% csrf_token %}
        <div class="form-control col-sm-4">
            <input type="text" placeholder="pesquisar animal" name="nome" class="form-control mb-2"/>
            <input type="submit" value="pesquisar" class="fomr-control"/>
        </div>
    </form>
</div>
    <h1>Animais</h1>
    <br>
    <hr>
    <br>
    {% for animal in object_list %}
    <h3>nome do animal: {{animal.nome}}</h3>

    <h3>especie: {{animal.especie}}</h3>
    <br>
    <a href="{% url 'editar_animal' animal.id  %}"><input type="button" value="editar" /></a>
    <a href="{% url 'remover_animal' animal.id  %}"><input type="button" value="remover" /></a>
    <a href="{% url 'detalhe_animal' animal.id  %}"><input type="button" value="detalhe" /></a>
    <hr>
    {%endfor%}

{% endblock %}