<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="{% url 'cadastrar_adocao' %}">
        {% csrf_token %}

        <div>
            <label>Nome do responsavel: </label>
            <input type="text" name="resp_nome" />
        </div>
        <div>
            <label>Nome do animal: </label>
            <input type="text" name="animal_nome" />
        </div>
        <div>
            <label>Especie: </label>
            <input type="text" name="especie" />
        </div>

        <input type="submit" value="salvar" />



    </form>
</body>
</html>