<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>Nome do responsavel: </label>
            {{ form.nome_do_responsavel }}
        </div>
        <div>
            <label>Animal: </label>
            {{ form.animal }}
        </div>
<!--        <div>-->
<!--            <label>Especie: </label>-->
<!--            <input type="text" name="especie" />-->
<!--        </div>-->

        <input type="submit" value="salvar" />



    </form>
</body>
</html>